div, form, img, ul, ol, li, dl, dt, dd, option, td, th, video {
		margin: 0;
		padding: 0;
		border: 0;
		list-style: none outside none;
	}
	.floatLeft{
		float:left;
	}
	
	.floatRight{
		float:right;
	}
	.widthAll{
		width:100%;
	}
	#main{
		width:1180px;
		padding-top:2px;
		padding-bottom:6px;
		margin:0 auto;
	}
	#entrust_okex{
		width:25%;
		border:1px solid #ddd;
	}
	#trade{
		width:49%;
		margin-left:0px;
		
	}
	#entrust_mex{
		width:25%;
		margin-left:0px;
		border:1px solid #ddd;
	}
	#sell{
		color:rgb(255,0,0);
	}
	#buy{
		color:rgb(0,188,0);
	}
	.titlePart{
		background: #f1f1f1;
		border-top: 1px solid #e6e6e6;
		height: 22px;
		line-height: 22px;
	}
	li{
		border-bottom: 1px solid #e6e6e6;
		cursor: pointer;
	}
	li span {
		display: inline-block;
		font-size: 12px;
		width: 30%;
		padding-left: 6px;
		font-weight: normal;
		float: left;
	}
	
	li.listCont {
		position: relative;
		line-height:22px
	}
	.clear {
		zoom: 1;
		clear: both;
	}
	
	#okex_price{
		margin-left:6px;
		display: inline-block;
		border-top: 1px solid #e6e6e6;
	}
	#mex_price{
		margin-left:6px;
		display: inline-block;
		border-top: 1px solid #e6e6e6;
	}
	
	/*datalist*/
	.datalist{
		width:1000px;
		height:70px;
		margin:0 auto;
	}
	
	.d_left{
	width:49%;
	height:360px;
	float:left;
	
	}
	.d_right{
	width:49%;
	height:360px;
	float:right;
	border:1px solid #ddd;
	}
	.l_left{
	width:59%;
	height:100%;
	float:left;
	border:1px solid #ddd;
	}
	.l_right{
	width:39%;
	height:100%;
	float:right;
	border:1px solid #ddd;
	}